body{
  background-color: black;
  color: white;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/makanMinum.jpg);
  background-position:center ;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
header{
  position: fixed;
  top:0;
  display: inline-block;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color:rgb(26, 25, 25);
  padding-bottom: 8px;
  z-index: 1000;
  font-size: larger;
}


#publicFoodList {
  display: flex;
  flex-wrap: wrap;
  list-style: none; /* Menghilangkan bullet pada list */
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  
}
#publicFoodList li {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  box-sizing: border-box; 
  
}
.konten{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#daftarMakanan{
  position: absolute;
  top: 15%;
  text-align: center;
  justify-content: center;
}
#foodForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
input{
  margin: 10px;
}
.formMakanan{
  display: flex;
  flex-direction: row;
}
#tambahMakanan{
  all: unset;
}
#box{
  position: absolute;
  background-color: rgb(139, 161, 224);
  color: black;
  width: 40%;
  height: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;
}
.box p{
  font-size: 2em;
}
#logoutButton{
  all: unset;
}
.kontenUtama{
  width: 100%;
  margin-left: 90px;
  margin-right: 90px;
}
p{
  text-align: justify;
}
table{
  background-color: white;
  color: black;
}
#popup{
  text-align: center;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
width: 90%;
padding: 10px 10px 20px 10px;
outline: 0;
border: 1px solid rgba(105, 105, 105, 0.397);
border-radius: 10px;
}

.form label .input + span {
position: absolute;
left: 10px;
top: 15px;
color: grey;
font-size: 0.9em;
cursor: text;
transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
top: 15px;
font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
top: 40px;
font-size: 0.7em;
font-weight: 600;
}

.form label .input:valid + span {
color: green;
}

.submit {
border: none;
outline: none;
background-color: royalblue;
padding: 10px;
border-radius: 10px;
color: #fff;
font-size: 16px;
transform: .3s ease;
}

.submit:hover {
background-color: rgb(56, 90, 194);
}

@keyframes pulse {
from {
  transform: scale(0.9);
  opacity: 1;
}

to {
  transform: scale(1.8);
  opacity: 0;
}
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;

}
.contentKontak {
width: 70%;
height: 100vh;
margin-top: 70px;
justify-content: center;
padding: 15px;
display: flex;
font-family: "poppins";
}
.map,
.kontak {
flex: 1;
}
iframe {
  margin-top: 50px;
width: 500px;
}
.kontak {
margin-top: 200px;
display: flex;
flex-direction: column;
padding: 5px;
}
#fb {
margin-left: 8px;
margin-top: 12px;
}

#akunFb{
  margin-left: 20px;
}
#akunWa{
  margin-left: 12px;
}
.fb,
.wa {
display: flex;
}
header a{
  text-decoration: none;
  color: white;
}
.pilihMenuAdmin{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 40%;
margin-left: 9%;
}
#inputMaps{
  height: 40px;
}
.menuAdmin1, .menuAdmin2{
flex: 1;
transition: 1s;
margin: 0;
padding: 0;
width: 5%;
margin-right: 0px;
display: flex;
flex-direction: column;

}
.menuAdmin1:hover, .menuAdmin2:hover{
transform: scale(1.2);
}
#changeMakanan{
width: 60%;
height: 60%;
padding: 0;
}
#changeKontak{
width: 50%;
padding: 0;
justify-content: center;
align-items: center;
}
.menuAdmin2{
margin-top: 5%;
}
#teksAdmin{
margin-top: 0;
margin-left: 3%;
}
.food-grid li{
transition: 1s;
}
.food-grid li:hover{
transform: scale(1.2);
}
hr{
  padding: 0;
  margin: 0;
}
#loginError {
  color: black;
}
#beliMakanForm {
  display: flex;
  flex-direction: row;
}
.formIlang{
  display: none;
  position: absolute;
  
  background-color: white;
  height: 70vh;
}
.label, .masukkan{
  flex: 1;
  flex-direction: column;
  margin-top: 16%;
  color: black;
  margin-left: 10%;
}
textarea{
  margin-left: 3.5%;
}
.formIlang h2{
  color: black;
  text-align: center;
}
#beli{
  margin-top: 10%;
}

/* @media(max-width:364px){
  .konten{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }
}
@media(max-width:244px){
  .konten{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 750px;
  }
}
@media(max-width:702px){
  .pilihMenuAdmin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 9%;
    font-size: 7px;
  }
} */
